<div id="dialog-error" title="Thông báo lỗi" class="hide">
    <p>
        <span class="glyphicons skull">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-info" title="Thông báo" class="hide">
    <p>
        <span class="glyphicons circle_info">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-warning" title="Cảnh báo" class="hide">
    <p>
        <span class="glyphicons warning_sign">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-confirm" title="Xác nhận" class="hide">
    <p>
        <span class="glyphicons circle_question_mark">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>