@{
    Layout = null;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>Thêm nhóm sản phẩm
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" control-relation="lnkRemoveListProductCategory"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="#" id="frmCreateProductCategory" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Tên nhóm sản phẩm<span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input id="txtName" type="text" class="span12 m-wrap " placeholder="Tên nhóm sản phẩm" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Nhóm cha
                        </label>
                        <div class="controls">
                            <select id="ddlParent" type="text" class="span12 m-wrap ">
                                <option value="0">--Chọn nhóm cha--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Thứ tự 
                        </label>
                        <div class="controls">
                            <input id="txtDisplayOrder" type="text" class="span12 m-wrap " placeholder="Thứ tự" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Tiêu đề SEO<span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input id="txtSeoTitle" type="text" class="span12 m-wrap" placeholder="Tiêu đề SEO" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Từ khóa
                        </label>
                        <div class="controls">
                            <input id="txtMetaKeyword" type="text" class="span12 m-wrap " placeholder="Meta keyword" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Mô tả
                        </label>
                        <div class="controls">
                            <textarea id="txtMetaDescription" name="txtMetaDescription" rows="3" class="span12 m-wrap" placeholder="Meta description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group" id="divStatus">
                        <label class="control-label">Trạng thái</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="optionStatus" value="1" checked />
                                Hiển thị
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionStatus" value="0"/>
                                Không hiển thị
                            </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group" id="divShowOnHome">
                        <label class="control-label">Hiển thị trang chủ</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="optionShowOnHome" value="1" checked />
                                Hiển thị
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionShowOnHome" value="0" />
                                Không hiển thị
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                @Html.Hidden("hidId", 0)
                <button type="button" class="btn blue" id="btnSaveProductCategory">
                    <i class="icon-save" />
                    Lưu
                </button>
                <button type="button" id="btnResetProductCategoryInput" class="btn blue">
                    <i class="icon-refresh" />
                    Làm lại
                </button>
                <button type="button" name="btnBackToListProductCategory" class="btn blue">
                    <i class="icon-remove" />
                    Đóng
                </button>
            </div>
        </form>
    </div>
</div>
